export( adaptIntegrateSimplex, integrateSimplexPolynomial, adsimp, grnmol, definePoly, evalPoly, printPoly,
 CanonicalSimplex, UnitSimplexV, SimplexVolume, JacobianS2Canonical, SimplexSurfaceArea, adaptIntegrateVectorFunc )
importFrom("stats","integrate")
